{% load static %}
{% load my_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "bootstrap/bootstrap.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>

    <header>
        <div>
            <h3><a class="text-decoration-none text-black" href="{% url 'main' %}">ДорофеЙ</a></h3>
            <p>+7 495 123-45-67</p>
            <div id="burger-menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" role="presentation" aria-labelledby="cli-mobile-menu"><g fill="currentColor"><path d="M4 8C3.44772 8 3 8.44772 3 9C3 9.55228 3.44772 10 4 10H20C20.5523 10 21 9.55228 21 9C21 8.44772 20.5523 8 20 8H4ZM4 14C3.44772 14 3 14.4477 3 15C3 15.5523 3.44772 16 4 16H20C20.5523 16 21 15.5523 21 15C21 14.4477 20.5523 14 20 14H4Z" fill-rule="evenodd" clip-rule="evenodd"></path></g></svg>
            </div>
        </div>
    </header>

      {% if request.user.is_authenticated %}
        <div class="wrapper d-flex justify-content-center align-items-center flex-column width-300px mt-5 mb-5">
          <h2>Вы авторизованы!</h2>
          <a style="text-decoration: none;" class="btn btn-primary m-1" href="{% url 'main' %}">Вернуться на главную!</a>
          <a style="text-decoration: none;" class="btn btn-primary m-1" href="{% url_with_anchor 'main' 'reviewLink' %}">Написать отзыв!</a>
          <a style="text-decoration: none;" class="btn btn-primary m-1" href="{% url 'logout' %}">Выйти из аккаунта!</a>
        </div>
      {% else %}
        <div class="wrapper d-flex justify-content-center align-items-center width-300px mt-5 mb-5">
          <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <h2>Регистрация</h2>
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input name="username" type="text" class="form-control" required>
              <div class="form-text">Придумайте логин пользователя.</div>
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input name="email" type="text" class="form-control" required>
              <div class="form-text">Введите электроную почту.</div>
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input name="password" type="password" class="form-control" required>
              <div class="form-text">Придумайте пароль пользователя.</div>
            </div>
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
          </form>
        </div>

        <hr>

        <div class="wrapper d-flex justify-content-center align-items-center width-300px mt-5 mb-5">
          <form method="POST" action="{% url "login" %}">
            {% csrf_token %}
            <h2>Авторизация</h2>
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input name="username" type="text" class="form-control" required>
              <div class="form-text">Введите логин пользователя.</div>
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input name="password" type="password" class="form-control" required>
              <div class="form-text">Введите пароль пользователя.</div>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
          </form>
        </div>
      {% endif %}

      <script src="{% static "bootstrap/bootstrap.js" %}"></script>
</body>
</html>